.banner{
    background: url("BannerImage/photo-1623194466839-7e314f961c8f.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin:content-box;
}
.banner_content{
    
}
.banner_content{
    height:510px;
    align-items: center;
    color: white !important;
}
.banner_image_single{
    width: 200px;  
}
.img-fluid{
    width: 100%;
    border-radius: 0% 0% 1000% 1000%;
}


@media screen and (max-width:576px) {
    .banner_content{
        flex-direction: column;
        text-align: center;
        color: black !important;
    }
    .banner{
        padding-top: 20px;
        height: 750px;
    }
    .banner_image_single{
        margin-top: 30px;
    }
}